@{
    ViewBag.Title = "About";
}

<h2>
    Acerca de nosotros
</h2>
    
<h3>
    Siempre comprometidos contigo!
</h3>

<p>
    BankIntec, comprometidos con el bienestar social y económico del país desde 2018, se ha consolidado como el banco líder del sistema financiero y dinamizador del desarrollo social para los diferentes sectores productivos en beneficio de los dominicanos, obteniendo reconocimiento internacional de los principales medios de la industria y bancos de inversión.
</p>